@charset "UTF-8";
/* CSS Document */

html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
	

}
body {
	margin-left: auto;
	margin-right: auto;
	
	background: rgba(76,125,160,1.00);
	
}
	
main {
	height: 100%;
	margin: 0;
	

}

h1{
	font-weight: 300;
}

/*clear fix*/
.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.col {
	width: 100%;
	
}
.box {
	color: white;
	min-height: 500px;
	margin: 10px;
	
	text-align: center;
	padding: 70px 0px;
	
}
/*Navigation*/

li {
    list-style: none;
    text-align: center;
}

.navigation {
   color: white;
    padding:20px;
    background: #222222;
    flex-flow: column wrap;
}
.navigation a:hover {
    background: rgba(34,34,34,0.55);
}

/*form*/
form {
	border-top: 1px solid white;
	
	text-align: left;
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  
}
.row{
	max-width: 400px;
	margin: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="tel"],
textarea,
select{
	background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
	border-radius: 5px;
}


label, legend {
  display: block;
  margin-bottom: 8px;
}
fieldset {
	border: none;
}
button {
    font-weight: 300;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;
    color: #FFF;
    background-color: #6e25d4;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 10px;
    width: 60%;
    border: 1px solid #310F5F;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    text-transform: uppercase;
}

label.light {
  font-weight: 300;
	margin-left: 5px;
}
input[type="checkbox"] + label,input[type="radio"] + label {
  font-weight: 300;
	font-size: .85em;
  display: inline;
	padding-left: 5px;
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
	font-weight: bold;
}
input[placeholder="requred"]{
	text-align: right;
}
input[placeholder="requred"]:focus {
	text-align: left;
}
input[placeholder="requred"]:visited {
	text-align: left;
	color: red;
}

/*UI elements states pseudo classes------------------*/

input:focus, textarea:focus {
	background-color: #EAE0A8;
	}
input[id="zip-code"]{
	width: 50%;
	
}
