@charset "UTF-8";
/* CSS Document */

html, html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial, " sans-serif";
}
.form-control {
	font-family: "FontAwesome"
}
body {
	margin-left: auto;
	margin-right: auto;
	background: #e6f4f8;
}
main {
	background-color: #1B5C7F;
}
.hero {
	background-image: url(images/hero.jpg);
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
}
h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 60px;
}
h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 23px;
}
p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}
.info-box-tan {
	background-color: #555555;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
}
.info-box-dark {
	background-color: #2D2D35;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.info-box-tan {
	
	margin-bottom: 50px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.row {
	padding: 15px;
}
.col {
	width: 100%;
}
.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
/*+++++++++++++++++++++FORM*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
}
form {
	text-align: left;
	margin: 10px auto;
	padding: 10px 20px;
	/*  background: #f4f7f8;*/
	border-radius: 8px;
}
h1 {
	margin: 0 0 30px 0;
	text-align: center;
}
main > img {
	
	width: 50%;
	
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
input[type="radio"], input[type="checkbox"] {
	margin: 0 4px 8px 0;
}
select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}
button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
}
fieldset {
	margin-bottom: 30px;
	border: none;
}
legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
label {
	display: block;
	margin-bottom: 8px;
}
label.light {
	font-weight: 300;
	display: inline;
}
.number {
	background-color: #5fcf80;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}

@media screen and (min-width: 480px) {
form {
	max-width: 480px;
}
.col-md-one-half {
	min-height: 800px;
}
.col-md-one-half-ctr {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info-box-tan {
	background-color: rgba(0,0,0,0.00);
	border: 1px solid white;
}
}

/*+++++++++++++++++++++FORM*/


/*Tablet View*/

@media (min-width: 768px) {
body {
	max-width: 778px;
}
.style-nav ul li {
	display: inline-block;
}
.style-nav ul {
	text-align: center;
}
h1 {
	font-size: 40px;
	margin-bottom: 90px;
}
h2 {
	margin-bottom: 16px;
}
.col-md-one-half {
	width: 50%;
}
.col {
	float: left;
	padding: 0px 7px 14px;
}
}

/*Desktop View*/

@media (min-width: 1024px) {
body {
	max-width: 1200px;
}
.style-logo {
	float: left;
}
.style-nav {
	float: right;
}
.col {
	float: left;
}
.col-lg-one-fourth {
	width: 25%;
}
}
